.mycol {
  height: 368px;
}
.input-search {
  max-width: 300px;
  height: 30px;
  box-shadow: 0px 0 15px;
}
.col-selezionata {
  border: 2px solid red;
  transition-duration: 0ms;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 350ms;
}
.mycol .card {
  height: 368px;
}
.mycol img {
  object-fit: contain;
  height: 70%;
}

.mycol .card-title {
  max-height: 48px;
  overflow: auto;
}

.personal-button button {
  border: 0px;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}
.mycol .card-title::-webkit-scrollbar {
  opacity: 0;
}

.personal-button button::after {
  margin-inline-start: 20px;
}

footer {
  background-color: rgb(49, 49, 49);
}

.myAncor {
  text-decoration: none;
  color: white;
}

.myAncor:hover {
  color: rgb(0, 255, 98);
}

.text-title {
  color: aqua;
}
